{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./",
        "css": "./css",
        "views": "./views",
        "js": "./js"
      }
    }]
  ],
  "presets": [
    "env",
    "stage-2"
  ]
}